In [1]:
list=[[1,2,3],[3,4,5],[6,7,8]]
print(list[2])
import numpy as np
np.matrix(list)
#np.array(list)

[6, 7, 8]

matrix([[1, 2, 3],
        [3, 4, 5],
        [6, 7, 8]])

In [2]:
import numpy as np
np.array([[[1,2,3],[1,42,3],[1,1,1]],[[1,2,3],[12,3,3],[2,3,4]]])

array([[[ 1,  2,  3],
        [ 1, 42,  3],
        [ 1,  1,  1]],

       [[ 1,  2,  3],
        [12,  3,  3],
        [ 2,  3,  4]]])

In [3]:
list=[]
list.extend((9,8,7))
print(list)

[9, 8, 7]

In [1]:
x = [1, 2, 3]
x.extend([4, 5])#to add 4 and 5 to the list
x

[1, 2, 3, 4, 5]

In [5]:
x = [1, 2, 3]
x.insert(3,67) #insert 67 at 3rd position
x

[1, 2, 3, 67]

In [6]:
x = [1, 2, 3]
x.pop(2) #pop the element present at the 2nd position
x

[1, 2]

In [7]:
x = [1, 2, 3,4,5,6,8]
x.remove(2) #deletes 2
x

[1, 3, 4, 5, 6, 8]

In [2]:
x[1:2] #slicing
x

[1, 2, 3, 4, 5]

In [9]:
l=[1,2,3,4,5,6]
print(len(l))
print(l[3])
print(l[-3:])

6
4
[4, 5, 6]

In [10]:
print(l[2:])

[3, 4, 5, 6]

In [3]:
no=int(input("Range"))
no1=[]
for i in range(no):
    element=int(input("Enter a number"))
    no1.append(element)

Range3
Enter a number1
Enter a number2
Enter a number4

In [ ]:
print(no1)
print(no1[::-1])

In [ ]:
print(max(no1))
print(min(no1))

In [ ]:
print("sum of items in the list",sum(no1))

In [ ]:
check=0
if check in no1:
    print("its present", no1.index(0))
else:
    print("not present")

In [1]:
l=[2,3,4,5,6]
for i in l:
    if(i%2==0):
        l[l.index(i)]=0
    else:
        l[l.index(i)]=1
print(l)

[0, 1, 0, 1, 0]

In [ ]:
l=[12,45,67,98,0]
l.sort()
l

In [10]:
li=int(input("Range"));
l=[]
for i in range(li):
    element=int(input("Enter a number"))
    l.append(element)

Range5
Enter a number23
Enter a number78
Enter a number65
Enter a number34
Enter a number98

In [3]:
avg=sum(l)/li
print(avg)

34.0

In [11]:
l.sort()
l

[23, 34, 65, 78, 98]

In [8]:
l[0:2]

[12, 23]

In [25]:
months=["jan","feb","march","april","may","june","july","august","sep","october","nov","dec"]
n=int(input("Enter a number"))
print ( "the month name is", months[n-1] )

Enter a number7
the month name is july

In [2]:
patt=[]
for i in range(1,11):
    for j in range(0,i):
        patt.append(i)
print(patt)

[1, 2, 2, 3, 3, 3, 4, 4, 4, 4, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 6, 7, 7, 7, 7, 7, 7, 7, 8, 8, 8, 8, 8, 8, 8, 8, 9, 9, 9, 9, 9, 9, 9, 9, 9, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10]

In [3]:
L = []
for i in range(1, 11):
    L += [i]*i
print(L)

[1, 2, 2, 3, 3, 3, 4, 4, 4, 4, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 6, 7, 7, 7, 7, 7, 7, 7, 8, 8, 8, 8, 8, 8, 8, 8, 9, 9, 9, 9, 9, 9, 9, 9, 9, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10]

In [ ]:
list=[1,2,3,4,5]
for i in list:
    list=i*i
    print(list)

In [10]:
list=[1,2,3,4,5]
for i in range (0,len(list)):
    list[i]=list[i]*list[i]
print(list)

[1, 4, 9, 16, 25]

In [4]:
lst = [1, 270, 4, 5, 300]
for i in range(0, len(lst)):
    lst[i] = (lst[i])*(lst[i])
print(lst)

[1, 72900, 16, 25, 90000]

In [3]:
#Given two lists, create a list by going element-by-element and taking the larger one from the two lists.
l1=[12,34,56,87]
l2=[44,62,11,20]
l3=[]
for i in range (0,len(l1)):
    if(l1[i]<l2[i]):
        l3.append(l2[i])
    else:
        l3.append(l1[i])
print("New list", l3)

New list [44, 62, 56, 87]

In [5]:
#Given list, create a list of cumulative sums from it
l=[1,2,3,4,5]
l1=[]
sum=0
for i in l:
    sum=sum+i
    l1.append(sum)
print(l1)

[1, 3, 6, 10, 15]

In [1]:
#List of triangular numbers any of the series of numbers (1, 3, 6, 10, 15, etc.) obtained by continued summation of the natural numbers
li=int(input("Range"));
l=[]
new=[]
for i in range(li):
    element=int(input("Enter a number"))
    l.append(element)
sum=0
for i in l:
    sum=sum+i
    new.append(sum)
print(new)

Range5
Enter a number5
Enter a number3
Enter a number2
Enter a number3
Enter a number3
[5, 8, 10, 13, 16]

#### Rotate items in a list left.

In [18]:
lst =[2,3,4,5]
t=lst[-1]
for i in reversed(range(1,len(lst))):
  lst[i]=lst[i-1]
lst[0]=t
print(lst)

[5, 2, 3, 4]

In [1]:
Tup1=("jan","feb","march")
Tup2='jan','feb','march'
print(Tup1)
print(Tup2,type(Tup2))
T=eval(input("Enter the tuple: "))
print(T)
print(type(T))
t=tuple((1,2,'shifa',0.9))
print(t)

('jan', 'feb', 'march')
('jan', 'feb', 'march') <class 'tuple'>
Enter the tuple: 1,2,'shifa',0.9
(1, 2, 'shifa', 0.9)
<class 'tuple'>
(1, 2, 'shifa', 0.9)

In [5]:
fruits=("apple","banana","cherry","strawberry","raspberry")
(*green,yellow,red)=fruits
print(green)
print(yellow)
print(red)

['apple', 'banana', 'cherry']
strawberry
raspberry

In [6]:
#case1
a=(5,6)
b=(5,4)
if (a>b):print("a is bigger")
else: print("b is bigger")

a is bigger

In [7]:
#case2
a=(5,6)
b=(1,4)
if (a>b):print("a is bigger")
else: print("b is bigger")

a is bigger

In [8]:
#case3
a=(5,6)
b=(6,4)
if (a>b):print("a is bigger")
else: print("b is bigger")

b is bigger

### Using tuples as keys in dictionaries

In [1]:
a={'x':100, 1:200}
print(a['x'])
print(a[1])
b=list(a.items())
print(b)

100
200
[('x', 100), (1, 200)]

In [12]:
a={'x':100 , (1,0):200}
print(a['x'])
print(a[(1,0)])

100
200

In [2]:
tup = (5, 20, 3, 7, 6, 8)

print("first two min", sorted(tup)[:2:])
print("first two max", sorted(tup)[-2::])

first two min [3, 5]
first two max [8, 20]

In [4]:
#print the maximum and minimum k elements of a tuple
tup = (5, 20, 3, 7, 6, 8)
#printing original tuple
print("Orginial Tupple is: ", tup)
#initializing k
k=2
#Maximum and minimum K elements in Tuple
#using slicing+ sorted()
tup=list(tup)
temp=sorted(tup)
res=tuple(temp[:k] + temp[-k:])
print("Extracted values", res)

Orginial Tupple is:  (5, 20, 3, 7, 6, 8)
Extracted values (3, 5, 8, 20)

### Write a program to sort a list of tuples by the second item

In [10]:
tup =[('apple', 24), ('orange', 10), ('pineapple', 28), 
      ('banana', 5), ('cherry', 20), ('blueberry', 15)]
def Sort_Tuple(tup):
    lst=len(tup)
    for i in range(0,lst):
        for j in range (0,lst-i-1):
            if(tup[j][1] > tup[j+1][1]):
                temp=tup[j]
                tup[j]=tup[j+1]
                tup[j+1]=temp
    return tup
print(Sort_Tuple(tup))

[('banana', 5), ('orange', 10), ('blueberry', 15), ('cherry', 20), ('apple', 24), ('pineapple', 28)]

In [11]:
#initialise list
lst = [(1, 3, 4), (2, 4, 6), (3, 8, 1)]
#printing original list
print("The original list", lst)
#initialise add
add_ele=4
res=[tuple(j+ add_ele for j in sub) for sub in lst]
# printing result
print("list after bulk update", res)

The original list [(1, 3, 4), (2, 4, 6), (3, 8, 1)]
list after bulk update [(5, 7, 8), (6, 8, 10), (7, 12, 5)]

### Write a program to create

## Python Dictionary

#### A dictionary is a more general version of a list.  Here is a list that contains the number of days in the months of the year.

In [1]:
days=[31,28,31,30,31,30,31,31,30,31,30,31]

### If we want the number of days in january

In [2]:
days[0]

31

In [3]:
days[11]

31

In [4]:
days={ 'january':31, 'february': 28,'march':31,'april':30,'may':31,'june':30,'july':31,'august':31,'september':30,'october':31,'november':30,'december':31}

In [2]:
d={'A':100,'B':200}

### Creating dictionaries

#### to declare a dictionary we enclose it in curly braces. each entry consists of a apaor seperated by colon

#### to change d['A'] to 400, do

In [3]:
d['A']=400 
d

{'A': 400, 'B': 200}

In [8]:
d['C']=500 #to add a new entry to the dictionary
d

{'A': 400, 'B': 200, 'C': 500}

In [9]:
#to delete an entry from a dictionary 
del d['A']
d

{'B': 200, 'C': 500}

#### empty dictionary is{} which is the dictionary equivalent of [] for lists or ' ' for strings

In [3]:
d={'shifa': A, 'adrita': B, 'shuja': C}
word=input('enter a word')

NameError: name 'A' is not defined

In [16]:
d=dict(['A': 100],['B':200])

SyntaxError: invalid syntax (<ipython-input-16-ebb8cab54f0e>, line 1)

In [20]:
d={'shifa': 100, 'palak': 800, 'shuja': 300}
items=list(d.items())
items.sort
for i in items:
    print(i)

('shifa', 100)
('palak', 800)
('shuja', 300)

In [22]:
d["cocunut"]={150,200,250,300}
d

{'shifa': 100, 'palak': 800, 'shuja': 300, 'cocunut': {150, 200, 250, 300}}

In [23]:
d={'shifa': 100, 'palak': 800, 'shuja': 300}
items=list(d.items())
items=[(i[1],i[0]) for i in items]
items.sort
for i in items:
    print(i)

(100, 'shifa')
(800, 'palak')
(300, 'shuja')

In [24]:
d.keys()

dict_keys(['shifa', 'palak', 'shuja'])

In [25]:
d.values()

dict_values([100, 800, 300])

##### copy() - returns shallow copy of the dictionary
#### items()- returns a new object of the dictionary items in (key,value) format
#### update[other]- updates the dictionary with the key/value pairs from other,overwriting existing keys.
#### len()- returns the length[number of items] in the dictionary
#### cmp()-compares items of 2 dictionaries
#### sort()- return a new sorted list of keys in the dictionary

In [27]:
sq={0:0,1:1,3:9,5:25,7:49,9:81}

In [28]:
print(len(sq))

6

In [34]:
x={'one': 0, 'two': 2}
y={'one': 1, 'three': 3}
x.update(y)
x

{'one': 1, 'two': 2, 'three': 3}

In [35]:
x={'one': 0, 'two': 2}
print(x.items())

dict_items([('one', 0), ('two', 2)])

In [41]:
original={1:'a', 2: 'b'}
new=original.copy()

new.clear()

print("new",  new)
print("original",  original)

new {}
original {1: 'a', 2: 'b'}

In [43]:
dict1={10: 'a', 20: [1,2,3], 30: 'c'}
print("given dictionary",  dict1)
dict2=dict1.copy()
print("new copy",  dict2)
dict2[10]=10
dict2[20][2]='45'
print("updated dictionary",  dict2)

given dictionary {10: 'a', 20: [1, 2, 3], 30: 'c'}
new copy {10: 'a', 20: [1, 2, 3], 30: 'c'}
updated dictionary {10: 10, 20: [1, 2, '45'], 30: 'c'}

### using = operator to copy dictionaries

In [44]:
original={1:'a', 2: 'b'}
new=original
print("new",  new)
print("original",  original)

new {1: 'a', 2: 'b'}
original {1: 'a', 2: 'b'}

### cmp is not supported in python

In [45]:
boys={'tim': 18, 'charlie': 12, 'robert': 25}
girls={'shifa':22}
print (cmp(girls,boys))

NameError: name 'cmp' is not defined

In [1]:
#import pandas
import pandas as pd

In [8]:
df1=pd.read_excel('employee_info.xlsx')
df1

   Age  Gender  Salary
0   45    Male   40000
1   12    Male       0
2   54  Female  150000
3   26    Male   30000
4   64  Female   15000
5   21  Female   25600

In [1]:
data={"Shifa": ["Shifa","Ali",29, [87,76,79]],
     "Adrita" :["Adrita", "Sikdar", 60, [98,77,63]],
      "Antusa" :["Antusa","DasGupta", 20,[66,91,62]],
      "Shuja":["Shuja","Ali",22,[79,55,100]],
      "Akil" :["Akil","Ali", 12,[79,30,88]]}
data

{'Shifa': ['Shifa', 'Ali', 29, [87, 76, 79]],
 'Adrita': ['Adrita', 'Sikdar', 60, [98, 77, 63]],
 'Antusa': ['Antusa', 'DasGupta', 20, [66, 91, 62]],
 'Shuja': ['Shuja', 'Ali', 22, [79, 55, 100]],
 'Akil': ['Akil', 'Ali', 12, [79, 30, 88]]}

In [9]:
n=input("Enter the name")
for i in data.keys():
    if i==n:
        print(data[i])

Enter the nameShifa
['Shifa', 'Ali', 29, [87, 76, 79]]

In [10]:
d={"a":10,"b":(6,9), "c": ("d",9)}
d['c']

('d', 9)

In [2]:
li=int(input("Range"))
l=[]
for i in range(li):
    element=int(input("Enter element"))
    l.append(element)
print(l)

Range2
Enter element78
Enter element45
[78, 45]

In [12]:
li=int(input("Enter range"))
l=[]
for i in range(li):
    ele=input("enter element")
    l.append(ele)
print(l)

Enter range4
enter elementshifa
enter elementfrdrg
enter elementtgreg
enter elementgergeg
['shifa', 'frdrg', 'tgreg', 'gergeg']

In [2]:
li=int(input("Enter range"))
l=[]
for i in range(li):
    ele=int(input("enter element"))
    l.append(ele)
print(l)

Enter range3
enter element45
enter element78
enter element96
[45, 78, 96]

In [3]:
l.extend([1,2])
l

[45, 78, 96, 1, 2]

In [4]:
l.pop(2)

96

In [5]:
l

[45, 78, 1, 2]

In [6]:
l.remove(45)
l

[78, 1, 2]

In [11]:
l.insert(3,2)
l

[78, 1, 2, 2, (2, 4), [2, 4]]

In [13]:
import numpy as np
np.matrix(l)
l

[78, 1, 2, 2, (2, 4), [2, 4]]

In [17]:
l.pop(4)
l

[78, 1, 2, 2, [2, 4]]

In [9]:
li=[100,45,67,22,67,23,51]
k=int(input("Enter Upper Range"))
j=int(input("EnterLower Range"))
for i in range(k,j):
    li.pop(li.index(i))
li

Enter Upper Range3
EnterLower Range5

ValueError: 3 is not in list

In [6]:
dic={1:'one', 2:'two'}
dic
dic[2]={3:'three'}
dic

{1: 'one', 2: {3: 'three'}}

In [7]:
tup=(1,2,3,4,5,6)
for item in tup:
    print(item)

1
2
3
4
5
6

In [11]:
l=[23,45,67,89,61]
no=int(input("Enter any number"))
l.remove(no)
l
l.

Enter any number45

[23, 67, 89, 61]

In [13]:
len=int(input("Enter the range of the list"))
l=[]
for i in range(len):
    ele=int(input("Enter the elements of the list"))
    l.append(ele)
l

Enter the range of the list4
Enter the range of the list3
Enter the range of the list5
Enter the range of the list2
Enter the range of the list1

[3, 5, 2, 1]

## MULTILEVEL INHERITANCE

In [27]:
class city:
    def __init_(self,name_of_city, pincode):
        self.name=name
        self.pincode=pincode
    
    def inputdetails(self):
        self.name=input("Enter the name of the city")
        self.pincode=int(input("Enter the pincode of the city"))
        
    def displaydetails(self):
        print("The name of the city" , self.name)
        print("The pincode of the city", self.pincode)
     
class bank(city):
    
    def inputdetails1(self):
        self.name=input("Enter the name of the bank")
        self.ifsc=int(input("Enter the IFSC Code of the bank"))
        
    def displaydetails1(self):
        print("The name of the bank" , self.name)
        print("The IFSC Code of the Bank", self.ifsc)  
        
class employee(bank):
    
    def inputdetails2(self):
        self.name=input("Enter the name of the employee")
        self.age=int(input("Enter the age of the employee"))
        
    def displaydetails2(self):
        print("The name of the Employee" , self.name)
        print("The age of the Employee", self.age)         
c=employee()    
c.inputdetails() 
c.inputdetails1()
c.inputdetails2() 
c.displaydetails() 
c.displaydetails1()
c.displaydetails2()

Enter the name of the cityagra
Enter the pincode of the city20200
Enter the name of the bankhdfc
Enter the IFSC Code of the bank5887325
Enter the name of the employeeshifa
Enter the age of the employee69
The name of the city shifa
The pincode of the city 20200
The name of the bank shifa
The IFSC Code of the Bank 5887325
The name of the Employee shifa
The age of the Employee 69

In [33]:
len=int(input("Enter length of the list"))
l=[]
for i in range(len):
    ele=int(input("Enter an element"))
    l.append(ele)
l
sorted(l)
l.pop(2)
l
l[2]=787
l

Enter length of the list5
Enter an element78
Enter an element98
Enter an element23
Enter an element100
Enter an element65

[78, 98, 787, 65]

In [41]:
def percent(m1,m2,m3,m4):
    per=(m1+m2+m3+m4)/4
    print(per)
percent(10,10,10,10)

10.0