### What is a Sequence

#### A sequence is a generic term for an ordered set

In [1]:
from sympy import SeqFormula, Symbol
n=Symbol('n')
s=SeqFormula(n**2, (n,0,5))
s.formula

n**2

<b> For value at a particular point

In [2]:
s.coeff(3)

9

### supports slicing

In [3]:
s[:]

[0, 1, 4, 9, 16, 25]

In [4]:
s[1:4]

[1, 4, 9]

In [5]:
s[:3]

[0, 1, 4]

### Sequence elements are displayed using list() command

In [6]:
list(s)

[0, 1, 4, 9, 16, 25]

#### Let's discuss on few types of Sequence in python

<b> 1)Strings <br>
A String is a group of characters

<b> To declare an empty string, we may use the function str()

In [9]:
name = str()
name

''

<b> Declare a String

In [10]:
name= str('Shifa')
name

'Shifa'

<b> Access a letter from the string

In [12]:
name[2]

'i'

<b>  2)Lists <br>
A list is an ordered group of items.To declare it, we use square brackets

<b> Declare a list

In [13]:
groceries=['milk', 'bread', 'eggs']
groceries

['milk', 'bread', 'eggs']

In [14]:
groceries[2]

'eggs'

<b> Slicing is possible

In [15]:
groceries[:2]

['milk', 'bread']

<b> A python list can hold all kinds of items, this is what makes it heterogenous.

In [16]:
mylist=[1,'2',3.0,False]

<b> Also, a list is mutable. This means we can change a value.

In [17]:
groceries[0]='cheese'
groceries

['cheese', 'bread', 'eggs']

<b> 3) Tuples <br>
A tuple, in effect, is an immutable group of items. When we say immutable, we mean we cannot change a single value once we declare it

<b> Declare a tuple

In [18]:
name=('shifa', 'shuja')
name

('shifa', 'shuja')

<b> We can also use the function tuple()

In [20]:
name=tuple(['Shifa', 'Shuja'])
name

('Shifa', 'Shuja')

<b> Like we said, a tuple is immutable. Let's try changing a value

In [21]:
name[0]='Harry Potter'
name

TypeError: 'tuple' object does not support item assignment

<b> 4) Range <br>

<b> The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 and stops before a specified number.

<b> A range() object lends us a range to iterate on; it gives us a list of numbers.

<b> Syntax: range(start,stop,step)

In [1]:
for i in range(10,0,-3):
    print(i)

10
7
4
1

<b> Program to generate sequence 3,5,7,9,11...19 using range() command

In [3]:
for i in range(1,10):
    print(2*i+1)

3
5
7
9
11
13
15
17
19

<b> Sequence Operations

<b> 1. Concatenation <br>
The operator + is used to concatenate the second element to the first.

In [4]:
[1,3,4]+[1,1,1]

[1, 3, 4, 1, 1, 1]

In [5]:
['a','e','r']+ ['xd']

['a', 'e', 'r', 'xd']

<b> Cannot concatenate a list with a string, but concatenation possible only between same type of Sequences. Eg: list+list

In [6]:
['a','e','r']+ 'xd'

TypeError: can only concatenate list (not "str") to list

In [9]:
'Siddh'+'ant' +' ' + 'La'+ 'ma'

'Siddhant Lama'

In [10]:
(1,2,3)+(4)

TypeError: can only concatenate tuple (not "int") to tuple

In [11]:
(1,2,3)+(4,5)

(1, 2, 3, 4, 5)

<b> 2. Repeat <br>
    The operator * is used to repeat a sequence n number of times.

In [12]:
(1,2,3)*3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [13]:
's'*3

'sss'

In [14]:
[3,'a']*2

[3, 'a', 3, 'a']

<b> 3. Membership <br>
Membership Operators in and not in are used to check whether an item is present in the sequence or not.
<br>They return True or False.

In [15]:
var=str('Daisy')
'Da' in var

True

In [16]:
Var=str('Dance')
'a' not in Var

False

In [17]:
d=[2,4,'s','r']
'z' in d

False

<b> Sequence Functions

<b> 1. len() <br>
The len() function is very handy when you want to know the length of the sequence.

In [20]:
d=[25,4,5,'f','abcd']
len(d)

5

In [23]:
d='2645fabcd'
len(d)

9

In [22]:
var=str('Have a nice day')
len(var)

15

In [24]:
g=' '
len(g)

1

<b> 2. min() and max()
<br>    The min() and max() functions are used to get the minimum value and the maximum value from the sequences respectively.

In [25]:
print(min([5,3,2,1]))
print(max([5,3,2,1]))

1
5

<b> 3. Index() <br>
The index() method searches an element in the sequence and returns the index of the first occurence

In [27]:
var=str('athlete')
var.index('h')

2

In [29]:
var.index('e') #e occurs twice but only first occurence is obtained

4

<b> 4. count() <br>
The count() method counts the number of times an element has occured in the sequence

In [31]:
var=str('athlete')
var.count('e')

2

In [33]:
d=[1,2,3,1]
d.count(1)

2